/*
0-600px        Phone
600-900px      Tablet Portrait
900-1200px     Tablet Landscape
[1200-1800] is where our normal styles apply...in desktop first approach
1800 +         Big Desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop
1em=16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translate(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translate(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  text-align: center; }

footer {
  margin: 10rem 0 5rem;
  text-align: center; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #4c4e61;
  font-size: 1.5rem; }

h1 {
  color: rgba(76, 78, 97, 0.8); }

p {
  color: rgba(163, 165, 174, 0.9); }

.header__main {
  font-size: 3.5rem;
  font-weight: 200; }
  @media only screen and (max-width: 37.5em) {
    .header__main {
      font-size: 2.5rem; } }
  .header__main--bold {
    font-weight: 600;
    display: block; }

.feature {
  transition: all .2s; }
  .feature__container-box {
    position: relative;
    max-width: 110rem;
    width: 100%;
    height: 50rem;
    display: inline-block;
    margin: 0 auto;
    animation: moveInBottom 1s ease-out; }
  .feature__container {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1.5rem;
    text-align: right;
    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 4rem rgba(76, 78, 97, 0.15);
    transition: transform 0.3s;
    border-top: solid 0.5rem;
    max-width: 33rem;
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .feature__container {
        max-width: 36rem;
        width: 90%;
        position: unset;
        margin: 3rem auto; } }
    .feature__container :not(:last-child) {
      text-align: left;
      padding-bottom: 2rem; }
    .feature__container--supervisor {
      border-color: #ea5353;
      top: 50%;
      transform: translateY(-50%); }
      @media only screen and (max-width: 56.25em) {
        .feature__container--supervisor {
          top: unset;
          transform: none; } }
    .feature__container--team {
      border-color: #45d3d3;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media only screen and (max-width: 56.25em) {
        .feature__container--team {
          top: unset;
          left: unset;
          transform: none; } }
    .feature__container--karma {
      border-color: #fcaf4a;
      bottom: -20%;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media only screen and (max-width: 56.25em) {
        .feature__container--karma {
          bottom: unset;
          left: unset;
          transform: none; } }
    .feature__container--calculator {
      border-color: #549ef2;
      right: 0;
      top: 50%;
      transform: translateY(-50%); }
      @media only screen and (max-width: 56.25em) {
        .feature__container--calculator {
          top: unset;
          right: unset;
          transform: none; } }

.header {
  width: 100%; }
  .header__heading-box {
    max-width: 55rem;
    text-align: center;
    margin: 6rem auto;
    padding: 0 2rem;
    transition: all .2s; }
    @media only screen and (max-width: 37.5em) {
      .header__heading-box {
        max-width: 36rem; } }
  .header__main {
    padding: 1rem 0;
    animation: moveInLeft .8s ease-out; }
  .header__para {
    animation: moveInRight .8s ease-out; }
