//main section code.Features section

.feature {
  //container for the features
  transition: all .2s;
  &__container-box {
    position: relative;
    max-width: 110rem; //creates a 110rem width div.I just love max-width it feels like magic.
    width: 100%;
    height: 50rem;
    display: inline-block;
    margin: 0 auto;
    animation: moveInBottom 1s ease-out;
  }
  //common styles for individual feature cards
  &__container {
    position: absolute;
    background-color: rgba($color-white, .8);
    padding: 1.5rem;
    text-align: right;
    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 4rem rgba($color-neutral-1, .15);
    transition: transform 0.3s;
    border-top: solid 0.5rem;
    max-width: 33rem;
    width: 100%;

    @include respond(tab-port) {
      //just remove all position related stuff for grid like layout below 900px
      max-width: 36rem;
      width: 90%;
      position: unset;
      margin: 3rem auto;
    };

    :not(:last-child) {
      text-align: left;
      padding-bottom: 2rem;
    }
    //simple modified styles as well as positioning the feature cards within feature__conatiner-box

    &--supervisor {
      border-color: $color-primary-1;
      //position this card at the center vertically inside feature__container-box on left
      top: 50%;
      transform: translateY(-50%);
      @include respond(tab-port) {
        //remove positioning for below 900px
        top: unset;
        transform: none;
      };
    }

    &--team {
      border-color: $color-primary-2;
      //position this card in the x axis center but y axis top, p.s: playaround with top values for perfection
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include respond(tab-port) {
        top: unset;
        left: unset;
        transform: none;
      };
    }

    &--karma {
      border-color: $color-primary-3;
      //position this card in the x axis center but y axis bottom, p.s: playaround with bottom values for perfection
      bottom: -20%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include respond(tab-port) {
        bottom: unset;
        left: unset;
        transform: none;
      };
    }

    &--calculator {
      border-color: $color-primary-4;
      //position card at center vertically on right side
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @include respond(tab-port) {
        top: unset;
        right: unset;
        transform: none;
      };
    }
  }
}
